.container{
    background-color: rgba(255, 255, 255);;
    border-radius: 10px; 
    padding-bottom: 10px;
}

.table_productos{
    background-color: #ffffff;
    
}

.cabeceras{
    background-color: #F5F5F5;
}