.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.navbar__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar__link:hover {
  text-shadow: 0px 0px 5px #fff;
  color: white;
}

.navbar__link.active {
  background-color: rgba(213, 65, 143, 0.4); 
  border-radius: 10px; 
}

.logo {
  width: 40px;
  height: auto;
  margin-left: 20px;
}

.navbar__profile-picture{
  width: 30px;
  height: auto;
  margin-right: 20px;
}

.navbar__username{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

@media (max-width: 767px) {
  .navbar__left,
  .navbar__right {
    display: none;
  }
  .navbar__center {
    width: 100%;
    text-align: center;
  }
  .navbar__list {
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 0.5rem;
    margin: 0;
  }
  .navbar__link:hover {
    text-shadow: 0px 0px 5px #fff;
    color: white;
  }
  .navbar__link.active {
    background-color: rgba(213, 65, 143, 0.4); 
    border-radius: 10px; 
    padding: 0.5rem;
  }
  .navbar__link {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .navbar__toggler {
    display: block;
    color: white;
    font-size: 1.5rem;
    margin-left: auto;
  }
  .navbar__toggler:hover {
    cursor: pointer;
  }
  .navbar__collapse {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
  }
  .navbar__collapse li {
    margin-bottom: 0.5rem;
  }
  .navbar__collapse a {
    color: white;
  }
  .navbar__collapse.active {
    display: block;
  }
}


@media (min-width: 768px) {
  .navbar__list {
    gap: 2rem;
    margin: 0;
  }
  .navbar__link.active {
    background-color: rgba(213, 65, 143, 0.4); 
    border-radius: 10px; 
    padding: 0.5rem;
  }
}
